
.details-content
  .details-content_main
    .details-content_main_header
      %h3 プロフィール
    .details-content_main-body
      .details-content_main-body-image
        = image_tag src="https://publicdomainq.net/images/201802/28s/publicdomainq-0019419ubx.jpg", class:"detail_image-box"

      .details-content_main-body-title
        .label.details-content_main-body-title_info 名前
        .details-content_main-body-title_content タマ
      .details-content_main-body-title
        .label.details-content_main-body-title_info 年齢
        .details-content_main-body-title_content 2 歳

      .details-content_main-body-title
        .label.details-content_main-body-title_info  性別
        .details-content_main-body-title_content  オス

      .details-content_main-body-title
        .label.details-content_main-body-title_info　種類
        .details-content_main-body-title_content  雑種

      .details-content_main-body-title
        .label.details-content_main-body-title_info  去勢の有無
        .details-content_main-body-title_content なし
      
      .details-content_main-body-title
        .label.details-content_main-body-title_info 性格・特徴
        .label.details-content_main-body-title_text
          性格・特徴保護当初はとても怖がりでした。</br>
          餌をやる人がいたようですが、人に喜んで身を寄せることはありませんでした。</br>
          職員さんが毎日撫ででくれるので、今では人に撫でられるのがとても好きになりました。</br>
          おばあちゃんで穏やかなのでこちらまで癒されるそうです。</br>
          若い子のような可愛さはありませんが、大人の魅力（笑）で一緒にゆったりとした生活が送れると思います。

      .details-content_main-body-title
        .label.details-content_main-body-title_info  健康状態
        .label.details-content_main-body-title_text
          今のところとても元気で健康面に影響はなさそうです。

      .details-content_main-body-title
        .label.details-content_main-body-title_info 募集経緯
        .label.details-content_main-body-title_text
          山口県のセンターはセンターに収容されれば基本一週間という短い収容期限があります。その期限内に新しい飼い主に巡り会えなければその後、愛護センターに搬送され、一部譲渡可能な子（子犬や子猫がほとんど）は殺処分を免れますが、ほとんどの子は殺処分されてしまいます。どうか、この子達が愛護センターに搬送される前に温かい手を差し伸べて下さい。お願い致しますm(__)m


      .details-content_main-body_btn
        %input{type:"submit", value:"里親になる", class:"edit-btn"}