
.contents
  .content-main
    .content-main_wrapper
      .message_1
        たった一人でも助けられる命がある
      .message_2
        ペット先進国、ドイツでは「殺処分ゼロ」を実現。</br>
        ドイツでは捨てられた犬、猫や、飼い主が飼えなくなった動物を絶対に殺しません。</br>
        ドイツには殺処分場は存在しないのです。その代わりに新しい飼い主を探すための</br>
        ティアハイム（動物の家）」というシェルターが500 以上あります。</br>
        ここでは、譲渡できないからといって、殺処分される動物はいません</br>
        適切な飼い主が見つかるまで、何カ月でも暮らすことができます。
      .message_3
      .message_4
      .message_5
