
// 動物一覧ページ
.index-content{
  height: 100%;
  width: 100%;
  background-image: url("https://www.pakutaso.com/shared/img/thumb/ERY81_shibahuhiki20131224_TP_V.jpg");
  background-size: cover;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;

  .col.s12.m7{
    .card{
      width: 400px;
      margin: 30px 0 30px 60px;
      background-color: #bcdee7;
      .card-image{
        cursor: pointer;
        .image-box{
          background-size: cover;
          height: 300px;
          border-radius: 50%;
        }
        .card-title{
          color: #e8383d;
        }
      }
      .card-content{
        opacity: 0.3;
        font-family: 'Homemade Apple', cursive;

        p{
          display: none;
        }
        .text-active{
          display: block;
        }
      }
      .card-action{
        font-size: 20px;
        text-align: center;
      }
    }
  }
}















